html {
  background: #000;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

canvas {
  border: 1px solid #222;
  box-shadow: 0 0 8px #222;
}

svg {
  display: none;
}

#canvas-container {
  position: relative;
  display: flex;
}

#canvas-container canvas {
  position: absolute;
}